<!DOCTYPE html>
<html>
    <head>
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="styles.css">
    </head>
<body>
<%- include('common/header'); %>
<h1>Contact</h1>
<div class="container"></div>

<%- include('common/footer'); %>
</body>
</html> 