<!DOCTYPE html>
<head>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<html>
<body>
<%- include('common/header'); %>
<div class="container p-3">
    <h1>Welcome to our Wine Review Database</h1>
    <h3>Browse through almost 130,000 reviews</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card mb-2">
                <img src="JSBach.jpg" class="card-img-top" alt="Bach">
                <div class="card-body">
                <h5 class="card-title">Reviewer name</h5>
                <p class="card-text">Author has X reviews</p>
                <a href="#" class="btn btn-primary">See profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-2">
                <img src="JCBach.jpg" class="card-img-top" alt="Bach">
                <div class="card-body">
                <h5 class="card-title">Reviewer name</h5>
                <p class="card-text">Author has X reviews</p>
                <a href="#" class="btn btn-primary">See profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-2">
                <img src="CPEBach.jpg" class="card-img-top" alt="Bach">
                <div class="card-body">
                <h5 class="card-title">Reviewer name</h5>
                <p class="card-text">Author has X reviews</p>
                <a href="#" class="btn btn-primary">See profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mb-2">
                <img src="JCFBach.jpg" class="card-img-top" alt="Bach">
                <div class="card-body">
                <h5 class="card-title">Reviewer name</h5>
                <p class="card-text">Author has X reviews</p>
                <a href="#" class="btn btn-primary">See profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-2">
            <div class="card">
                <img src="WFBach.jpeg" class="card-img-top" alt="Bach">
                <div class="card-body">
                <h5 class="card-title">Reviewer name</h5>
                <p class="card-text">Author has X reviews</p>
                <a href="#" class="btn btn-primary">See profile</a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('common/footer'); %>
</body>
</html> 